<div class="blog-intro {{ page.color }}">
  <div>
    <h1>{{ page.heading }}</h1>
    <p>Welcome to my blog! I post lots of stuff here - some of these are related to me as a Software Engineer, others are my own personal thoughts on various things. 
		I hope this blog can give you a little bit more insight into me as a person, and into various tech topics too!
	</p>
  </div>
  <div class="home-follow-wrapper">
	  <div class="home-follow">
		<div>
			<a class="github-button" href="https://github.com/idodin" data-show-count="true" aria-label="Follow @idodin on GitHub">Follow @idodin</a>
		  </div>
	  </div>
	</div>
</div>