<div class="outer-wrapping splash-header">
  <div class="inner-container">
    <div class="splashnav header-right" id="top_navigator">
      <a title="home" id="nav_home" href="/"><span>home</span></a>
      <a title="blog" id="nav_blog" href="/blog"><span>blog</span></a>
      <a title="coffee" id="nav_coffee" href="/coffee"><span>coffee</span></a>
      <a title="theme" id="nav_theme" class="nav_theme" onclick="switchTheme(1)"
        ><span>theme</span></a
      >
      <a
        href="javascript:void(0);"
        style="font-size: 14px;"
        class="icon"
        onclick="top_splash_navigation()"
        >&#9776;</a
      >
    </div>
  </div>
</div>
