body.draw{
    background-color: white;
}

.container {
    height:100%;
    width:100%;

}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
}

.logo{
    width: 100%;
}

.menu-options {
    height: 60%;
    width: 100%;
    position: absolute;
}

.game {
    position: absolute;
    height: auto;
    width: 7%;
    opacity: 1;
    left: 62%;
    padding-top: 1.5%;
}

.git-icon {
    position: absolute;
    height: auto;
    width: 6%;
    opacity: 1;
    left: 72.5%;
    padding-top: 1.5%;
}

.menu-options svg:hover {
    opacity: 1;
    -webkit-animation: bounce 2s ease-in-out infinite forwards; 
    -moz-animation: bounce 2s ease-in-out infinite forwards; 
    -o-animation: bounce 2s ease-in-out infinite forwards; 
    animation: bounce 2s ease-in-out infinite forwards; 
}

.li-icon {
    position: absolute;
    height: auto;
    width: 5%;
    opacity: 1;
    left: 82%;
    padding-top: 2.1%;
}

.brush {
    position: absolute;
    height: auto;
    width: 6%;
    opacity: 1;
    left: 90%;
    padding-top: 1.5%;
}

.char {
    opacity: 1;
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
}

.logo .char, body.draw {
    -webkit-animation: draw 3s 1 linear forwards;
    -moz-animation: draw 3s 1 linear forwards;
    -o-animation: draw 3s 1 linear forwards;
    animation: draw 3s 1 linear forwards;
}

@-webkit-keyframes draw {
    60% {
        opacity: 0.5;
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill: rgba(0, 0, 0, 1);
    }
    70%, 85% {
        opacity: 1;
        stroke-opacity: 0;
        fill: #fff;
        background-color: lightblue
    }
    95%, 100% {
        opacity: 1;
        fill: #222;
        stroke-dashoffset: 0;
        stroke-opacity: 0;
    }
}

@-moz-keyframes draw {
    60% {
        opacity: 0.5;
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill: rgba(0, 0, 0, 1);
    }
    70%, 85% {
        opacity: 1;
        stroke-opacity: 0;
        fill: #fff;
        background-color: lightblue
    }
    95%, 100% {
        opacity: 1;
        fill: #222;
        stroke-dashoffset: 0;
        stroke-opacity: 0;
    }
}

@-o-keyframes draw {
    60% {
        opacity: 0.5;
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill: rgba(0, 0, 0, 1);
    }
    70%, 85% {
        opacity: 1;
        stroke-opacity: 0;
        fill: #fff;
        background-color: lightblue
    }
    95%, 100% {
        opacity: 1;
        fill: #222;
        stroke-dashoffset: 0;
        stroke-opacity: 0;
    }
}

@keyframes draw {
    60% {
        opacity: 0.5;
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill: rgba(0, 0, 0, 1);
    }
    70%, 85% {
        opacity: 1;
        stroke-opacity: 0;
        fill: #fff;
        background-color: lightblue
    }
    95%, 100% {
        opacity: 1;
        fill: #222;
        stroke-dashoffset: 0;
        stroke-opacity: 0;
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
    }

    50% {
        margin-top: -1.3%;
    }
}

@-moz-keyframes bounce {
    0%, 100% {
    }

    50% {
        margin-top: -1.3%;
    }
}

@-o-keyframes bounce {
    0%, 100% {
    }

    50% {
        margin-top: -1.3%;
    }
}

@keyframes bounce {
    0%, 100% {
    }

    50% {
        margin-top: -1.3%;
    }
}


@-webkit-keyframes ghost {
    0%, 100% {
        opacity: 0; 
    }
}

@-moz-keyframes ghost {
    0%, 100% {
        opacity: 0; 
    }
}

@-o-keyframes ghost {
    0%, 100% {
        opacity: 0; 
    }
}

@keyframes ghost {
    0%, 100% {
        opacity: 0; 
    }
}

